name: Android CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'sample/**'
      - 'README.md'

  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'sample/**'
      - 'README.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: Gradle Wrapper Validation
      uses: gradle/actions/wrapper-validation@v3

    - name: Run ktlint
      run: ./gradlew ktlintCheck

    - name: Run tests
      run: ./gradlew :notifly:testDebugUnitTest --rerun-tasks

    - name: Code Review GPT
      uses: mattzcarey/code-review-gpt@v0.7.0
      with:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        GITHUB_TOKEN: ${{ github.token }}
        MODEL: 'gpt-4o'
        REVIEW_LANGUAGE: 'Korean'
